@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.jumbotron {
    background-image: url("https://i.ytimg.com/vi/BPfFoG5DRE4/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 6rem 5.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate; 
}

.jumbotron h1{
    color: white;
    // font-size: 4rem;
}
.jumbotron p{
    color: white;
    font-size: 1.3rem;
}

/* Animación del neon */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 53%, 56%, 100% {
      
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

:root {
  
  /* Color borde del jumbotron */
  --neon-border-color: rgb(226, 21, 21);
}