@import "~bootstrap/scss/bootstrap.scss";
.navbar{
   margin-top: 0;
    
    background: black;
     /* background-image: url("");
    background-size: cover;
    background-repeat: no-repeat; */
    
   
}
.navbar img{
    width: 100%;
    height: 80px;
  //overflow: hidden;
}
.navbar .navbar-nav{
    text-align: end; 
}
/* .navbar ul li{
    color: white;
 */